.user {
    width: 100%;
  }
  
  .user-header {
    border:2px solid red;
    background-color: #f0f0f0;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .user-nav {
    
    display: flex;
    justify-content: space-between; 
  }
  .user-nav-left {
    flex: 1;
  }
  
  .user-nav-right {
    display: flex;
    gap: 10px; 
  }
  
  .user-body {
    margin-top: 20px;
  }
  